body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .app {
    background-color: #ccc;
    padding: 80px 20px 20px
  }
  
  .navigation {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: black;

    .create-delivery {
      position: absolute;
      right: 20px;
    }
  }

  .card {
    margin-bottom: 20px;

    form {
      padding: 10px;
    }
  }